@import "tailwindcss";

:root {
    --bg-color: #EDF2F9;
    --text-color: #344050;
}

body {
    font-family: "Poppins", sans-serif;
}

.leaflet-container {
    background-color: var(--bg-color) !important;
}

.emoji-marker {
    background: transparent;
    border: none;
    text-align: center;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;

}
.emoji-marker:hover {
    transform: scale(1.2);
}